mixin skillList 
        ul 
            li php 
            li mysql 
            li Leravel
            li This is #{themWeb} Theem



mixin feature(featName)
    div(class= 'feat' style= 'color: red ; background-color: #F1F1F1')= featName